
sudo: required
language: java

jdk:
  - oraclejdk8


script:
  - mvn clean cobertura:cobertura -Dtest=RtGithubITCase#fetchesEmojis -DfailIfNoTests=false

before_deploy:
- tar -zcvf coverage-result.tar.gz /home/travis/build/leusonmario/jcabi-github/target/site/cobertura

deploy:
  provider: releases
  api_key:
    secure: "f4uPaw/UTCUARASq71MyG/4eornMcSZN614+q1saRkw/iaWut+yv0BcbBb5m4xOy2+esbYM/mEelbj3EIIncmiY+eegYQuXk0Oeb233PLcl3iN7g+3WrSKVeZLelee6iIGU/Rt9IZfFpVz6Q8hhq1mPoXBjvkqt5+ECj+zHg363U5R5zw/Aj1VHGH66QXtd+Is4WTBvlWMfdNakCm48eg9w85MYvC2kaCJrVDaQ1MLGQUuzRgGMdz+JsK5H5TjliyFcz3g9+GJ6dGYp2uCFAG1GMuQhltfuJZgcVaIB9oyi2IOfJTlRrusMV2vjlU5rYZqY/jmPmfdK1S8tWIS0AkHNIIXOKwTMC8Y5ZKUDrHN9TtX30wmwuS21Q38tzycZpzQw0jofJtOgDTbgslNWAsdZYPn2m+ErpyccN1sgZZk2SJJtSVHN3izkWOwd6ns5AITBPtgn44YddISOLkmO9oXtJEvCh8lyhXbRDMq3KmFvEPD9lxvWDpjKSNNfzxFPhiT0nso6qV/9v8KiDJEdFe2mksbyQuX/r1HLcnPiRTXd3qdhMg2MrMcjfEii91K5/qvmITfLI20yyVEJsH64p0H/IekBaiqvuoxBdqeJqJVpxWuQnpIQycKenPneHYAxiMk1/z5GkQuQX3BfXTJflaIJdC3spaWE0Hwi8ZYzFHX4="


  file: coverage-result.tar.gz
  file_glob: true
  overwrite: true
  skip_cleanup: true
  on:
    tags: true
